body {
    font-family: 'Roboto', sans-serif;
    color: rgb(29,29,31);
    width: 100%;
    text-align: center;
}

header {
    padding: 10px 0 12px;
    background-color: rgba(0,0,0,0.8);
    color: rgb(81,81,84);
    width: 100%;
}

a {
    text-decoration: none;
}

nav a {
    color: #ffffff;
    margin-right: 70px;
    display: inline-block;
}

nav a:last-child {
    margin-right: 0;
}

nav img {
    width: 20px;
    height: 40px;
    margin-bottom: -14px;
}

button {
    background-color: rgb(0, 113, 227);
    color:#ffffff;
    border-radius: 12px;
    padding: 4px 11px;
    margin: 0 auto 20px auto;
    border:transparent;
    display: block;
}

.red {
    color: red;
    font-size: small;
}

.blue {
    color: rgb(0, 113, 227);
}

.hero {
    padding: 10px 40px 50px 40px;
}

.hero img {
    margin-top: 75px;
    width: 100%;
}

.intermedio {
    display: flex;
}

.intermedio div {
    background-color: rgb(242, 242, 242);
    overflow: hidden;
    padding-top: 20px;
}

.texto {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.texto h2 {
    font-size: 38px;
}

.accesorios {
    width: 50%;
    margin-left: 20px;
    margin-right: 10px;
}

.accesorios img {
    transform: translateX(-260px);
}

.apple-trade {
    width: 50%;
    margin-left: 10px;
    margin-right: 20px;
}

.entrega {
    padding-top: 60px;
    padding-bottom: 20px;
}

footer {
    padding: 10px 50px;
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
    text-align: left;
    font-size: 11px;
}
